<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Background Thread Dictionary.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6FA7C0F31CA5CAA600CA090A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6FA7C10C1CA5CAA600CA090A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6FA7C1171CA5CAA700CA090A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
